/* CSS - Cascading Style Sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=33J0X0kloliRmVqusv4crbB3q1S */

/* Feel free to copy&paste color codes to your application */


/* As hex codes */

.header-panel {
    background-color: #2D4471;
	background-image: url(logo_main_micro.png);
	background-repeat: no-repeat;
    background-position: 98% 50%; 
    height: 144px;
    position: relative;
    z-index: 3;
}

.color-primary-0 { color: #2D4471 }	/* Main Primary color */
.color-primary-1 { color: #0756F0 }
.color-primary-2 { color: #1847A5 }
.color-primary-3 { color: #282F3E }
.color-primary-4 { color: #09090A }

.color-secondary-1-0 { color: #AAA838 }	/* Main Secondary color (1) */
.color-secondary-1-1 { color: #FFFC00 }
.color-secondary-1-2 { color: #F8F50C }
.color-secondary-1-3 { color: #5C5C39 }
.color-secondary-1-4 { color: #0F0F0D }

.color-secondary-2-0 { color: #A7373D }	/* Main Secondary color (2) */
.color-secondary-2-1 { color: #FE000D }
.color-secondary-2-2 { color: #F30C17 }
.color-secondary-2-3 { color: #5B3839 }
.color-secondary-2-4 { color: #0F0D0D }



/* As RGBa codes */

.rgba-primary-0 { color: rgba( 45, 68,113,1) }	/* Main Primary color */
.rgba-primary-1 { color: rgba(  7, 86,240,1) }
.rgba-primary-2 { color: rgba( 24, 71,165,1) }
.rgba-primary-3 { color: rgba( 40, 47, 62,1) }
.rgba-primary-4 { color: rgba(  9,  9, 10,1) }

.rgba-secondary-1-0 { color: rgba(170,168, 56,1) }	/* Main Secondary color (1) */
.rgba-secondary-1-1 { color: rgba(255,252,  0,1) }
.rgba-secondary-1-2 { color: rgba(248,245, 12,1) }
.rgba-secondary-1-3 { color: rgba( 92, 92, 57,1) }
.rgba-secondary-1-4 { color: rgba( 15, 15, 13,1) }

.rgba-secondary-2-0 { color: rgba(167, 55, 61,1) }	/* Main Secondary color (2) */
.rgba-secondary-2-1 { color: rgba(254,  0, 13,1) }
.rgba-secondary-2-2 { color: rgba(243, 12, 23,1) }
.rgba-secondary-2-3 { color: rgba( 91, 56, 57,1) }
.rgba-secondary-2-4 { color: rgba( 15, 13, 13,1) }



/* Generated by Paletton.com © 2002-2014 */
/* http://paletton.com */